Django==4.2.7
django-extensions~=3.2.3
python-dateutil~=2.8.2
django-countries==7.5.1
django-versatileimagefield~=3.0
djangorestframework~=3.14.0
django-filter~=23.4
djangorestframework-simplejwt~=5.3.0