{% extends 'layouts/blank.html' %}

{% block title %}Fitness Studio | Sign In{% endblock title %}

{% block page_content %}
  <h2>Sign in</h2>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit">Sign in</button>
  </form>

  <p>Don't have an account yet? <a href="{{ signup_url }}">Sign up</a></p>
{% endblock page_content %}